<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Bienvenido a Flask Notes</h1>
    <ul>
        {% for note in notes %}
        <li>
            {{ note.title }}
            <br>
            {{ note.content }}
        </li>
        {% else %}
        Aún no se han creado notas
        {% endfor %}
    </ul>

    <a href="{{ url_for('create_note') }}">Agregar una nueva nota</a>
</body>

</html>